<div id="welcome">
  <div class="container pt-5 pb-5">
    <h1>Wilkommen!</h1>
    <hr/>
    <h2>Fügen Sie doch paar Campingareale hinzu</h2>
    <div class="buttons pb-5">
      <a class="btn btn-primary" href="/camp">Camps</a>
      <a class="btn btn-primary" href="/account">Account</a>
    </div>
  </div>
</div>
