<div id="imprint">
    <div class="upper_body">
      <a class="btn" href="/" style="width: auto;font-size: xx-small;font-weight: 900;"><< zurück zur Homepage</a>
    </div>
      <div class="container pt-5 pb-5">
        <h3>Imprint</h3>
        
         <hr class="mt-4 mb-4"/>
            <ul>
                <li><strong>Strasse:</strong> Alfred-Wachtel-Straße 8</li>
                <li><strong>PLZ:</strong> 78462</li>
                <li><strong>Ort:</strong> Konstanz</li>
                <li><strong>Mail:</strong> camp-portal-online-infomail@webtech.de</li>
                <li><strong>Telefon:</strong> Momentan sind wir nur per Mail für Sie erreichbar. </li>
                <li><strong>WebSeiten-Besitzer:</strong> Furkan & Arbnor & Raphael</li>
            </ul>
        </div>
</div>
 
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  