<div class="container">
    
    <div class="upper_body">
        <form action="/camp">
            <input type="text" value="" length="20" name="q" placeholder="Search..">
            <button type="submit">Suche</button>
        </form>
    </div>

    <div class="search-wrapper">
        <label for="search">Search Camps</label>
        <input type="search" id="search" data-search>
    </div>
   <!-- 
    
    <div class="user-cards" data-user-cards-container></div>
    <template data-user-template>
        <div class="card-dyn">
        <div class="header" data-header></div>
        <div class="body" data-body></div>
        </div>
    </template>
-->
    
    <!--
    <div class="card__container" data-user-cards-container>
        <template data-user-template>
            <div class="card">  
                <div class="header" data-header>
                <img src="/images/konstanz.jpg" alt="Camp01" class="card__image" data-image>
                <p class="card__name"></p>
                </div>
                <div class="body" data-body>
                <div class="grid-container">
                    <div class="grid-child-posts"></div>
                    <div class="grid-child-followers"></div>
                </div>
                </div>
                <button class="btn draw-border">Infos</button>
                <button class="btn draw-border">Buchen</button>
            </div>
        </template>
        
    </div>  -->
       
       <div class="card__container" data-user-cards-container>
        <template data-user-template>
        <div class="user-cards" >
          <img src="/images/campportal.jpg" class="card__image">
           <p class="card__name" data-title></p>
            <div class="grid-container">
               <div class="grid-child-posts" data-price>
                   15€-Nacht
               </div>
               <div class="grid-child-followers" data-spots>
                  32 freie Plätze
              </div>
          </div>
          
        <a id='action-link' data-linker href='/camp'>
            <button class="btn draw-border" data-link >Infos</button>
        </a>
        <a id='action-link' data-linker href='/camp'>
            <button class="btn draw-border">Buchen</button>
        </a>
        </div>
    </template>
    </div>
   
</div>
    
    <script defer>
        window.onload = () => {
            //findCamps()
            findCards();
        }
    </script>
    <%- /* Expose locals as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>