<div id="camp">
    <div class="container">
        <h1>Camping-Plaetze</h1>

        <form action="/camp">
            <label>Suche</label>
            <input type="text" value="" length="20" name="q">
            <button type="submit">Suche</button>
        </form>

        <div class="item-content">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Preis</th>
                </thead>
                <tbody>
                    <% camps.forEach(function(camp){ %>
                        <tr>
                            <td>
                                <%= camp.name %>
                            </td>
                            <td>
                                <%= camp.price %>
                            </td>
                            <td> 
                            <a class="badge badge-primary" href="/camp/<%= camp.id %>">Anzeigen</a></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <a class="btn btn-primary" href="/camp/new">Hinzufügen</a>
        </div>
    </div>
</div>
