<div id="new">
<div class="container">
    <form action="/camp" id="createForm" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Name</label>
                <input type="text" class="form-control" maxlength="20" name="name">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Preis pro Tag</label>
                <input type="number" class="form-control" maxlength="8" name="price" value="0">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Wie viele Plaetze hat Ihr Areal bisher?</label>
                <input type="number" class="form-control" maxlength="255" name="spots" value="0">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Beschreibung</label>
                <input type="text" maxlength="255" class="form-control" size="40" name="description">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Hinzufügen</button>
    </form>
</div>
</div>

