.menu-title {
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-description {
    font-size: 1.1em;
}

.menu-price {
    font-size: 1.1em;
}