/*Webfonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Open+Sans+Condensed:300i');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
    font-family: 'Open Sans', Arial, sans-serif;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 500;
    margin: 0px;
    box-sizing: border-box;
}
Html, body
{
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
h1 {
    padding: 10px;
    color: #5f5f64;
    font-size: 2.6em;
    margin-left: 5%;
}

/* Section */
section {
    padding: 10px;
    color: #5f5f64;
    font-size: 1.4em;
    margin-top: 2em;
}
section div {
    margin: 5px;
}
section .button {
    text-align: right;
}

/* Others */
aside {
    color:  white;
    background-color: #6F92BF;
    padding: 2em;
    font-size: 1.2em;
}
ul{
    list-style: none;
}
.kontakt {
    font-weight: bold;
}
.saison {
    font-style: italic;
}
.zeiten {
    font-weight: 600;
    margin-top: 1em;
}

/* Navigation Bar*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E2C8;
    color: white;
    padding: 0;
    padding-right: 1%;
    padding-left: 1%;
}
nav a {
    margin-left: 2.2rem;
    color: #4f4f50;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: none;
    color: #000000;
}
.navbar img{
    width: 45%;
    height: 45%;
    margin-left: 5px;
}
.navbar-links {
    height: 100%;
}
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    padding: 1rem;
}

/* Button */
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.green-button {
    border-width: 3px;
    border-style: solid;
    border-color: #85A60F;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #85A60F;
}
.green-button:hover {
    background-color: #85A60F;
    color: white;
}

/*Row*/
.row{
    display: flex;
    flex-wrap: wrap;
    width: max-content;
}
.rowSocial{
    text-align: right;
}

/*Footer*/
footer *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 
}
footer {
    background-color: #85A60F;
    color:  rgb(0, 0, 0);
    margin-top: 2rem;
    padding: 1em;
}
.footer{
    background-color: #E9E2C8;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-col{
    width: auto;
    margin-bottom: 30px;
    padding: 0 15px;
}
.footer-col-right{
    position: absolute;
    right: 10px;
    width: fit-content;
    padding: 0 15px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #5f5f64;
    display: block;
    transition: all 0.3s ease;
    border-bottom: none;
}
.footer-col ul li a:hover{
    color: #000000;
}
footer .footer-item li a {
    color:white;
    font-size: 1.2rem;
    text-decoration: underline white;
    border-bottom: 0px;
}

/* Social*/
.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #5f5f64;
    transition: all 0.5s ease;
}
.social-links a:hover{
    color: #5f5f64;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 1200px){
    /*Header*/
    .navbar {
        display: flex;
        position: relative;
        align-items: center;
        padding: 0;
        padding-right: 1%;
        padding-left: 1%;
    }
    .navbar img{
        height: 100px;
        width: 100px;
        text-align: left;
        margin-left: -15%;
        padding: 5px;
    }
    .navbar h1{
        margin-left: 10%;
        text-align: center;
        font-size: 2.4em;
}
    .navbar a{
        font-size: 1rem;
        margin-left: 1.8rem;
    }
    /* Footer */
    .footer-col{
        width: auto;
       margin-bottom: 30px;
   }
}
@media (max-width: 992px) {
      /*Header*/
      .navbar {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
    }
    .navbar img{
        height: 95px;
        width: 95px;
        text-align: left;
        margin-left: -15%;
    }
    .navbar h1{
        margin-left: 15%;
        padding: 10px;
        font-size: 2.3em;
    }
    .navbar a{
        font-size: 0.95rem;
        margin-left: 1.4rem;

    }
    /* Footer */
    .footer-col{
         width: auto;
         margin-bottom: 30px;
    }
}
@media(max-width: 768px){
      /*Header*/
      .navbar {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
    }
    .navbar img{
        height: 90px;
        width: 90px;
        text-align: left;
        margin-left: 0;
    }
    .navbar h1{
        margin-left: 15%;
        padding: 10px;
        font-size: 2.2em;
    }
    .navbar a{
        font-size: 0.9rem;
    }
    /* Footer */
    .footer-col{
         width: auto;
         margin-bottom: 30px;
    }
}
@media(max-width: 688px){
    .navbar {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
    }
    .navbar img{
        height: 80px;
        width: 80px;
        text-align: left;
        margin-left: 0;
    }
    .navbar h1{
        margin-left: 12%;
        padding: 8px;
        font-size: 2em;
    }
    .navbar a{
        font-size: 0.8rem;
    }
    .navbar-links li a {
        display: block;
        text-decoration: none;
        font-size: 18px;
        padding: 0.8rem;
    }
  /* Footer */
  .footer-col{
       width: auto;
       margin-bottom: 30px;
  }
}
@media(max-width: 576px){
    .navbar {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
    }
    .navbar img{
        height: 75px;
        width: 75px;
        text-align: left;
        margin-left: 0;
    }
    .navbar h1{
        margin-left: 5%;
        padding: 6px;
        font-size: 1.8em;
    }
    .navbar a{
        font-size: 0.8rem;
        margin-left: 5%;
    }
    .navbar-links {
        width: 100%;
        text-align: center;
    }
    /* Footer */
    .footer-col{
        width: auto;
    }
    .footer-col-right{
        position: relative;
        right: auto;
        width: 100%;
    }
}
/*Upper Body*/
.upper_body{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Baloo Paaji 2', cursive;
    padding: 1%;
}
/*Cards*/

/*Homepage Background Color*/
.card__container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: whitesmoke;
    font-family: 'Baloo Paaji 2', cursive;

}
/*Angebote*/
.card {
    background-color: whitesmoke;
    height: 37rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: saddlebrown;
}
.card__name {
    margin-top: 15px;
    font-size: 1.5em;
}
.card__image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid saddlebrown;
    margin-top: 20px;
    box-shadow: 0 1px 15px #208700;
}
.draw-border {
    box-shadow: inset 0 0 0 4px #208700;
    color: saddlebrown;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #342634;
}
/*
Boxen Homepage
*/
.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #20a80e;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}
.btn {
    background: #e9e2c8;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    margin: 1em;
    width: 13rem;
}
.btn:focus {
    outline: 2px dotted burlywood;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 1.2em;
}