<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/assets/styles/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<script src="/assets/js/script.js" defer></script>
    <title>Camp-Portal</title>
</head>

<body>
<header>
    <nav class="navbar">
        <a href="#"><img src="/assets/images/camplogo.jpg"></a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="card__container">
    <div class="card">
        <img src="/assets/favicon.ico" alt="Camp01" class="card__image">
        <p class="card__name">Konstanz</p>
        <div class="grid-container">
            <div class="grid-child-posts">
                17€-Nacht
            </div>
            <div class="grid-child-followers">
                5 freie Plätze
            </div>
        </div>
        <button class="btn draw-border">Infos</button>
        <button class="btn draw-border">Buchen</button>
    </div>
    <div class="card">
        <img src="/assets/images/camplogo2.PNG" alt="Camp02" class="card__image">
        <p class="card__name">Singen</p>
        <div class="grid-container">
            <div class="grid-child-posts">
                10€-Nacht
            </div>
            <div class="grid-child-followers">
                10 freie Plätze
            </div>
        </div>
        <button class="btn draw-border">Infos</button>
        <button class="btn draw-border">Buchen</button>
    </div>
    <div class="card">
    <img src="/assets/images/campportal.jpg" alt="Camp03" class="card__image">
    <p class="card__name">Überlingen</p>
    <div class="grid-container">
        <div class="grid-child-posts">
            15€-Nacht
        </div>
        <div class="grid-child-followers">
            32 freie Plätze
        </div>
    </div>
    <button class="btn draw-border">Infos</button>
    <button class="btn draw-border">Buchen</button>
</div>

</div>




<footer class="footer">
    <div class="footer__container">
        <div class="row">
            <div class="footer-col">
               <!-- <h4>company</h4>-->
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">cookies</a></li>
                </ul>
            </div>
            <div class="footer-col-right">
                <!--<h4>follow us</h4>-->
                <div class="social-links social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>

