<div class="container">
    <h1>Speisen</h1>

    <div class="item-content">
        <table>
            <tbody>
                <% menus.forEach(function(menu){ %>
                    <tr>
                        <td class="menu-title">
                            <%= menu.name %>
                        </td>
                        <td class="menu-price">
                            <%= menu.price %> &euro;
                        </td>
                    </tr>
                    <tr class="menu-description">
                        <td>
                            <%= menu.description %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>