<img src="/images/burger.jpg" width="100%" alt="Bild Burger">
<div class="my-container">
    <div class="item-content">
        <section>
            <h2>Preigekrönte Gastronomie</h2>
            <div>
                Das Angebot unserer Gastronomie reicht vom schnellen Snack bis zum 4-Gänge Menü.
                Lassen Sie sich von unserer preisgekrönten Küche verwöhnen.
                Wir verwenden ausschliesslich regionale Produkte.
            </div>
            <div class="button"><a class="green-button" href="/menu">Zur Speisekarte</a></div>
        </section>
        <section>
            <h2>Take-away</h2>
            <div>
                In unserem Online Shop können Sie sich unsere Menus zum mitnehmen bestellen.
            </div>
            <div class="button"><a class="green-button">Zur Online-Bestellung</a></div>
        </section>

    </div>
    <aside class="item-aside">
        <div class="saison">
            Badesaison: 15. Mai bis 15. September
        </div>
        <div class="zeiten">
            Öffnungszeiten Strandbad:<Br>
            Montag bis Sonntag 10 Uhr bis 20 Uhr
        </div>
        <div class="zeiten">
            Öffnungszeiten Restaurant:</BR>10 Uhr bis 22 Uhr (Dienstag Ruhetag)
        </div>
    </aside>
</div>

