
<div style="text-align: center; margin-top: 5%; margin-bottom: 5%;">
    <h1>Liste aller Bestellungen</h1>  
 </div>

<div class="col">
    <div class="item-content" style="width: 100%;">
        <div class="container">
            <div class="row" id="show-set">
                <thead>
                    <table class="table"> 
                    <tr>
                      <th scope="col">Bestell-ID</th>
                      <th scope="col">Abholdatum</th>
                      <th scope="col">Preis</th>
                      <th scope="col">Status</th>
                      <th scope="col">Bestelltes Produkt</th>
                    </tr>
                    <tbody class="table-input"> 

                    </tbody>
                </table>
                  </thead>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        findmybookings()
        }
 </script>